{% extends 'base.html' %}

{% block content %}
    <h1>{{ title }}</h1>

    <!--  enc-type="multipart/form-data" - без этого, передача файла/ов не будет работать  -->
<!--    <form action="" method="post" enctype="multipart/form-data">-->
<!--        {# {% csrf_token %} #}-->
<!--        <p><input type="file" name="file_upload"></p>-->
<!--        {# {{ form.as_p }} #}-->
<!--        <p><button type="submit">Отправить</button></p>-->
<!--    </form>-->

  <section>
        <h3>Наша миссия</h3>
        <p>Мы создали этот веб-сайт с целью поднятия достойного внимания к историям и достижениям известных женщин мира. Наша миссия - вдохновлять и освещать их удивительные вклады в различные области.</p>
    </section>
    <section>
        <h3>Кто мы</h3>
        <p>Мы - команда энтузиастов, разделяющих увлечение и восхищение перед великими женскими личностями. Наша цель - раскрывать удивительные истории жизни, достижения и влияние известных женщин.</p>
    </section>
    <section>
        <h3>Наша история</h3>
        <p>Наш сайт начал свою деятельность в 2023 году. С тех пор мы посвящаем себя рассказам о сильных и влиятельных женщинах, которые оставили свой след в истории.</p>
    </section>
    <section>
        <h3>Что мы предлагаем</h3>
        <ul>
            <li>Статьи о замечательных женщинах в истории и современности.</li>
            <li>Инсайты и анализ их влияния на общество.</li>
            <li>Вдохновляющие рассказы о жизни и достижениях.</li>
        </ul>
    </section>
{% endblock %}